//Widget

.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
}

// Widget header

.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title {
    margin:0;
}

.widget-p__message{
    text-align: center;
    color: $off-white;
    margin: 0;
    padding: $l-size;
    border-bottom: 1px solid lighten($light-blue, 10%);
}